*.bak
*.BAK
Build
MANIFEST
META.yml
_build/*
blib/*
*.tar.gz
cover_db/*
*.tmp
t/*.db
Makefile
pm_to_blib
MYMETA.json
MYMETA.yml
log/*
!log/.gitignore
script/hypnotoad.pid
files/*
!files/.gitignore
run.d/*
!run.d/.gitignore
extlib/*
roles/*
!roles/.gitdironly
role_client/*
!role_client/.gitdironly
